#countLabel {
  display: block;
  text-align: center;
  font-size: 10em; /* Increased font size for a bigger counter */
  font-family: Helvetica, Arial, sans-serif;
  color: black; /* Counter text color */
  margin: 20px 0;
}

#btnContainer {
  text-align: center;
}

.buttons {
  padding: 10px 20px;
  font-size: 1.5em;
  color: white;
  background-color: hsl(214, 100%, 74%); /* Corrected color */
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.25s;
  border: none; /* Removes button border for a cleaner look */
}

button:hover {
  background-color: hsl(214, 100%, 56%);
}
